<div class="col-md-10" ng-controller="configurationsController">
	<div>
		<div align="center" style="color: #2535A9;">
			<h3>Available car pools</h3>
			<input type="checkbox" name="AllCarPools" data-ng-change='ngChange()'
				data-ng-model='isCheck' /> See All Pools
		</div>

		<div ng-if="carpoolList.length>0" ng-repeat="carpool in carpoolList"
			class="poolList">
			<a
				ui-sref="checkOrOptRide({parentid: carpool.carpoolDetails.parentid})">
				<table class="tStyle" frame="box" style="background-color: green">
					<tr>
						<td>ProvidedBy: {{carpool.userName}}</td>
						<td ng-repeat="vehicle in vehicleDetails"
							ng-if="vehicle.id==carpool.carpoolDetails.vehicleType">VehicleType:
							{{vehicle.vehicletype}}</td>
					</tr>
					<tr>
						<td>FromDate: {{carpool.carpoolDetails.fromDate |
							dateFilter}}</td>
						<td>ToDate: {{carpool.carpoolDetails.toDate | dateFilter}}</td>
					</tr>
					<tr>
						<td>Location: {{carpool.location}}</td>
						<td>PoolStatus: {{carpool.carpoolDetails.statusName}}</td>
					</tr>
				</table>
			</a>
		</div>
		<div align="center" ng-if="carpoolList.length<=0">No Car pools
			Available</div>
	</div>
	 <div id="bottom">
		<hr class="hr">
		<div ng-include="'js/configurations/riderBookingDetails.html'"></div>
	</div> 
</div>