<div>
	<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12 sort-questions">
		<ul id="nav-tabs" ng-init='getCarpools()'>
		</ul>
	</div>

	<div class="tab-pane active">
		<div align="center" style="color: #2535A9;">
			<h3>Available car pools</h3>
		</div>


		<div class="row irs-all-course-bb clearfix"
			ng-if="carpoolList.length>0">
			<div class="col-md-4 col-xs-4 col-sm-4 col-xl-4 col-lg-4 clearfix"
				ng-repeat="carpool in carpoolList"
				ng-if="carpool.id==carpool.parentid">
				<div class="irs-lc-grid style2 text-center"
					ng-style="{'background-color': carpool.status=='completed' ? 'green' : 'red'}">
					<div class="irs-lc-details">
						<div class="irs-lc-teacher-info">
							<div class="irs-lct-thumb" ng-if="carpool.displayImage==null">
								<img src="images/userlogo.jpg">
							</div>
							<div class="irs-lct-thumb" ng-if="carpool.displayImage!==null">
								<img ng-src="{{carpool.displayImage}}">
							</div>
							<div class="irs-lct-info">
								<span class="text-thm2">{{carpool.userid}}</span>
							</div>
						</div>
						<div class="irs-lct-info">
							<span class="text-thm2">{{carpool.Location}}</span>
						</div>
						<div class="irs-lct-info" ng-repeat="vehicle in vehicleDetails"
							ng-if="vehicle.id==carpool.vehicleType">
							<span class="text-thm2">{{vehicle.vehicletype}}</span>
						</div>
					</div>
					<div class="irs-lc-footer">
						<div class="irs-lc-normal-part">
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-users"></i>{{carpool.totalNoOfSeats}}</a></li>
							</ul>
						</div>
						<div class="irs-lc-hover-part">See Details</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center" ng-if="carpoolList.length<=0">No
			Car pools Available</div>
		<div class="row text-center">
			<input type="checkbox" name="AllCarPools" value="AllCarPools"
				ng-change='ngChange()' ng-model='chkselct'>Click To See All
			Available Car Pools<br>
		</div>

	</div>

</div>
