<div classs = "container-fluid">
	<div class = "col-md-2">
		<div id = "leftHandMenu">
			<div ng-include="'js/partials/leftSideMenu.html'"></div>
		</div>
	</div>
	<div class = "col-md-8">
	
	<div>
		<div>
			<ul id="nav-tabs" ng-init='getCarpools()'>
			</ul>
		</div>

		<div align="center" style="color: #2535A9;">
			<h3>Available car pools</h3>
		<input type="checkbox" name="AllCarPools" data-ng-change='ngChange()'
			data-ng-model='isCheck' /> See All Pools
		</div>

		<div ng-if="carpoolList.length>0" ng-repeat="carpool in carpoolList" class = "poolList">

				<div ng-repeat="vehicle in vehicleDetails"
					ng-if="vehicle.id==carpool.carpoolDetails.vehicleType">

					<a href="#/configurations">
						<table class="tStyle" frame="box" style="background-color:green">
							<tr>
								<td>ProvidedBy: {{carpool.userName}} &nbsp;</td>
								<td>VehicleType: {{vehicle.vehicletype}}</td>
								</div>
							</tr>
							<tr>
								<td>FromDate: {{carpool.carpoolDetails.fromDate | dateFilter}}</td>
								<td>ToDate: {{carpool.carpoolDetails.toDate | dateFilter}}</td>
							</tr>
							<tr>
								<td>Location: {{carpool.location}} &nbsp;</td>
								<td>PoolStatus: {{carpool.carpoolDetails.statusName}}</td>
							</tr>
						</table>
					</a>
					</div>
		</div>
	</div>
	<div align="center" ng-if="carpoolList.length<=0">No Car pools Available</div>
	</div>
</div>
