<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carppol Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/./carpool.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->

</head>
<style>
	.pool-element{
		padding-bottom:10px;
	}
	h3{
		margin-bottom:40px;
	}
</style>
<body>
	<div class="container-fluid">
		<div class = "row">
		<div id = "leftHandMenu" class="leftpane col-md-2">
			<div ng-include="'js/partials/leftSideMenu.html'"></div>
		</div>
		<div class="rightpane col-md-8">
			<h3>Share a ride</h3>
			<!--  <div class = "row">
				<div class = "col-md-12">
					<h3>Share A Ride</h3>
				</div>
			</div>-->
			<!-- Post A Ride Design start  -->
			<form name="postRideForm">
				<div class="form-container">
					<div class = "row pool-element">
						<div class = "col-md-2">
							<label>Vehicle Type</label>
						</div>
						<!-- <td><select ng-model="vType" required="required">
								<option ng-repeat="x in names">{{x}}</option>
						</select></td> -->
						<div class = "col-md-4">
							<select name="vehicleSelect" id="vehicleSelect"
							ng-model="vehicleSelect" ng-init=" vehicleSelect = data[0].id"
							ng-options="option.id as option.name for option in data"
							ng-change="fnVehicleType()">
							</select>
						</div>
					</div>
					<div class = "row pool-element">
						<div class = "col-md-2"><label>Total No: of Seats</label></div>
						<div class = "col-md-4">
							<span ng-switch="vehicleSelect" class="spanCls"
									style="top: 11px;"> 
								<span
									ng-switch-when="0"> <input type="number" name="input"
									ng-model="seat.value" min="0" max="0" class='vsCls'
									ng-readonly="true"><br> <br>
								</span> 
								<span ng-switch-when="2"> <input type="number"
									name="input" ng-model="seat.value" min="1" max="1" value='1'
									class='vsCls' ng-readonly="true"><br> <br>
								</span> 
								<span ng-switch-when="4"> <input type="number"
									name="input" ng-model="seat.value" min="1" max="4"
									class='vsCls' required><br> <br>
								</span>
							</span>
						</div>
					</div>



					<div class = "row pool-element" style="margin-top:-10px;">
						<div class = "col-md-2"><label>Location</label></div>
						<div class = "col-md-4"><input type="text" gm-places-autocomplete
							name="location" id="locId" ng-model="shareARideAutocomplete" placeholder="Please Enter location here"> <br />
							
							<div ng-show="postRideForm.$submitted || postRideForm.location.$touched">
								<div ng-show="postRideForm.location.$error.required "
									style="color: red">Tell us your location.</div>
							</div>
						</div>
					</div>



					<div class = "row pool-element">
						<div class = "col-md-2">
							<label>From Date</label>
						</div>
						<div class='prTabTd col-md-4'><input type="date" id="exampleInput"
							name="fromDate" ng-model="fromDate.value"
							min="{{fromDate.currentDate | date: 'yyyy-MM-dd'}}"
							placeholder="yyyy-MM-dd" required /> <span class="error"
							ng-show="!postRideForm.fromDate.$valid"> Not a valid date!</span>
						</div>
					</div>

					<div class = "row pool-element">
						<div class = "col-md-2">
							<label>To Date</label>
						</div>
						<div class='prTabTd col-md-4'>
							<input type="date" id="exampleInput"
							name="toDate" ng-model="toDate.value"
							min="{{toDate.currentDate | date: 'yyyy-MM-dd'}}"
							placeholder="yyyy-MM-dd" required /> 
							<span class="error" ng-show="!postRideForm.toDate.$valid"> Not a valid date!
							</span>
						</div>
					</div>
					<div class = "row pool-element">
						<div class = "col-md-2"><label>Start Time</label></div>
						<div class='prTabTd col-md-4'>
							<input type="time" id="exampleInput"
							name="startTime" ng-model="startTime.value" required />
						</div>
					</div>
					<div class = "row pool-element">
						<div class = "col-md-2"><label>Return Time</label></div>
						<div class='prTabTd col-md-4'>
							<input type="time" id="exampleInput"
							name="endTime" ng-model="endTime.value" required />
						</div>
					</div>
					<div class = "row pool-element">
						<div class = "col-md-4 col-md-offset-2">
							<button class="btn btn-primary" ng-click="fnAddPostRide()">Add</button>
						</div>
					</div>
				</div>
			</form>
			<table class="grid">
				<tr>
					<th style="width: 30px;"></th>
					<th style="width: 100px;">Vehicle Type</th>
					<th style="width: 130px;">Total No: of Seats</th>
					<th style="width: 100px;">From Date</th>
					<th style="width: 100px;">To Date</th>
					<th style="width: 100px;">Start Time</th>
					<th style="width: 100px;">End Time</th>
					<th style="width: 100px;">Actions</th>
				</tr>
				<tbody ng-repeat="(key, value) in parentIdData">
					<tr ng-if="value.id == value.parentid">
						<td style="width: 30px"><button
								class="btn btn-primary btn-xs" id="gridButton{{key}}"
								ng-click="showChildData(key)" style="width: 30px">+</button>
							<input type="checkbox" style="position: relative; left: 5px;"
							ng-model="selectedParent[$index]" /></td>
						<td>{{value.vehicleType}}</td>
						<td><span ng-switch="value.vehicleType" class="spanCls"> 
						 <span ng-switch-when="2"> <input type="number"
									name="input" ng-model="value.totalNoOfSeats" min="1" max="1" value='1'
									ng-readonly="true" ng-disabled="!selectedParent[$index]"
						             ng-class="{'txtdisabled': !selectedParent[$index]}">
							</span> <span ng-switch-when="4"> <input type="number"
									name="input" ng-model="value.totalNoOfSeats" min="1" max="4"
									ng-disabled="!selectedParent[$index]"
						            ng-class="{'txtdisabled': !selectedParent[$index]}" required>
							</span>
						</span></td>
						<td>{{value.fromDate}}</td>
						<td>{{value.toDate}}</td>
						<td>
						   <input type="time"  ng-model="value.startTime" ng-disabled="!selectedParent[$index]"
						   ng-class="{'txtdisabled': !selectedParent[$index]}" required />
						</td>
						<td>
						    <input type="time"  ng-model="value.toTime" ng-disabled="!selectedParent[$index]"
						   ng-class="{'txtdisabled': !selectedParent[$index]}" required />
						</td>
						<td ng-class="{'disabled':!selectedParent[$index]}">
						     <!-- <img src="images/./view.png" style="left: -10px" title="view" ng-click="activate(checkedData)"/> -->
							<img src="images/./edit.png"
							style="width: 20px; height: 20px; left: -5px;" title="edit" ng-click="!selectedParent[$index]|| confirmEdit('carpool',value);" /> <img
							src="images/./delete2.png" style="width: 20px; height: 20px;"
							title="delete" ng-click="!selectedParent[$index]|| confirmDelete('carpool',value);"/>
						</td>
					</tr>
					<tr ng-repeat="x in value.child" class="hideChild{{key}}"
						ng-show="show{{key}}">
						<td style="width: 40px"><input type="checkbox"
							style="position: relative; left: 21px;" ng-model="selectedchild[$index]" /></td>
						<td>{{x.vehicleType}}</td>
						<td><span ng-switch="x.vehicleType" class="spanCls"> 
						 <span ng-switch-when="2"> <input type="number"
									name="input" ng-model="x.totalNoOfSeats" min="1" max="1" value='1'
									ng-readonly="true" ng-disabled="!selectedchild[$index]"
						             ng-class="{'txtdisabled': !selectedchild[$index]}">
							</span> <span ng-switch-when="4"> <input type="number"
									name="input" ng-model="x.totalNoOfSeats" min="1" max="4"
									ng-disabled="!selectedchild[$index]"
						            ng-class="{'txtdisabled': !selectedchild[$index]}" required>
							</span>
						</span></td>
						<td>{{x.fromDate}}</td>
						<td>{{x.toDate}}</td>
						<td>
						    <input type="time"  ng-model="x.startTime" ng-disabled="!selectedchild[$index]"
						   ng-class="{'txtdisabled': !selectedchild[$index]}" required />
						</td>
						<td>
						    <input type="time"  ng-model="x.toTime" ng-disabled="!selectedchild[$index]"
						   ng-class="{'txtdisabled': !selectedchild[$index]}" required />
						</td>
						<td ng-class="{'disabled':!selectedchild[$index]}">
						    <!-- <img src="images/./view.png" style="left: -10px" title="view" ng-click="activate(checkedData)" />-->
							<img src="images/./edit.png"
							style="width: 20px; height: 20px; left: -5px;" title="edit" ng-click="!selectedchild[$index]|| confirmEdit('carpool'x);" />
							 <img src="images/./delete2.png" style="width: 20px; height: 20px;" left: -5px;" title="delete" ng-click="!selectedchild[$index]|| confirmDelete('carpool'x);"/>
						 </td>  
					</tr>
				</tbody>
			</table>
			<!--  latest code end -->
				  <div id="editModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-body">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3>Are you sure. Do you want to edit this carPool?</h3>
								</div>
								<div class="modal-footer">
									<button type="button" class="custombtn btn-normal" ng-click="editItem();">Ok</button>
									<button type="button" class="custombtn btn-cancel"  data-dismiss="modal">cancel</button>
								</div>
							</div>
					 </div>
				</div>
				
				<div id="editStatus" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-body">
									<div class="errStatus" ng-if="errorMessage!='';">{{errorMessage}}</div>
							        <div class="success" ng-if="successMessage!='';">{{successMessage}}</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="custombtn btn-cancel" data-dismiss="modal">Ok</button>
								</div>
							</div>
					</div>
               </div>
               <div id="deleteModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">
							<!--  Modal content-->
							<div class="modal-content">
								<div class="modal-body">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3>Are you sure. Do you want to Delete this carPool?</h3>
								</div>
								<div class="modal-footer">
									<button type="button" class="custombtn btn-normal" ng-click="deleteItem();">Ok</button>
									<button type="button" class="custombtn btn-cancel"  data-dismiss="modal">cancel</button>
								</div>
							</div>
					 </div>
				</div> 
				<!-- share a ride validation model start -->
				<div id="postARideFormModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-body">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 style="color:#f0ad4e;">Warning</h3>
									<h4 id="alertMsg"></h4>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-info" ng-click="cancelModelPopUp();">Ok</button>
									<button type="button" class="btn btn-default"  data-dismiss="modal">cancel</button>
								</div>
							</div>
					 </div>
				</div>
				<!-- share a ride validation model end -->
		</div>
		<!-- Post A Ride Design end  -->
	</div>
	</div>
</div>


</body>
</html>