<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carppol Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="css/./carpool.css">
</head>
<style>
</style>
<body>
	<div class="container">
		<h3 style="color:#00B3E3">Share A Ride</h3>

		<!-- driver registration tab code starts -->
		<!-- <div id='driverDiv'>
			<form name="driverForm" class="driverClass" novalidate>
				<table>
					<tr>
						<td>Vehicle Type</td>
						<td><input type="checkbox" name="cb2wheel"
							ng-model='cb2wheel' ng-true-value="2" ng-false-value="0">
							2-wheeler</input></td>
					</tr>

					<tr>
						<td></td>
						<td><input type="checkbox" name="cb4wheel"
							ng-model='cb4wheel' ng-true-value="4" ng-false-value="0">
							4-wheeler</input> <br />
							<div ng-show="driverForm.$submitted && driverForm.$invalid"
								style="color: red" class="help-block">check before
								proceed.</div></td>
						<td></td>
					</tr>

					<tr>
						<td>Location</td>
						<td><input type="text" gm-places-autocomplete
							name="driverLocation" ng-model="autocomplete"
							placeholder="Enter location here" /> <br />
							<div
								ng-show="driverForm.$submitted || driverForm.location.$touched">
								<div ng-show="driverForm.location.$error.required "
									style="color: red">Tell us your location.</div>
							</div></td>
					</tr>

					<tr>
						<td>NearBy(pickup)</td>
						<td><input type="text" name="nearBy" ng-model="nearBy"
							required=""> <br />
							<div
								ng-show="driverForm.$submitted || driverForm.nearBy.$touched">
								<span ng-show="driverForm.nearBy.$error.required "
									style="color: red">Tell us your pickup point.</span>
							</div></td>
					</tr>

					<tr>
						<td></td>
						<td>
							<button class="registerAsDriverBtn"
								driverForm.cb4wheel.$error.required || driverForm.cb2wheel.$error.required || driverForm.nearBy.$error.required ||  driverForm.location.$error.required" ng-disabled="driverForm.cb4wheel.$error.required || driverForm.cb2wheel.$error.required || driverForm.nearBy.$error.required ||  driverForm.location.$error.required || isRegisteredAsDriver == true"
								ng-click="registerAsDriver()">Register</button>
							<button class="updateAsDriverBtn"
								ng-disabled="isRegisteredAsDriver !== true"
								ng-click="updateAsDriver()">Update</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		driver registration tab code ends

		rider registration tab code starts
		<div id='passengerDiv'>
			<form action="riderForm" class="riderClass">
				<table>
					<tr>
						<td>Location</td>
						<td><input type="text" gm-places-autocomplete
							ng-model="autocomplete" placeholder="Enter location here"></td>
					</tr>

					<tr>
						<td>NearBy(pickup)</td>
						<td><input type="text" ng-model="location"></td>
					</tr>

					<tr>
						<td></td>
						<td><input type="checkbox">Notify me via email</td>
					</tr>

					<tr>
						<td></td>
						<td>
							<button class="registerAsDriverBtn" ng-click="registerAsRider()">Register</button>
							<button class="updateAsDriverBtn" ng-click="updateAsRider()">Update</button>
						</td>
					</tr>

				</table>
			</form>
		</div> -->

		<!-- rider registration tab code ends -->

		<!-- Post A Ride Design start  -->

		<div ng-controller="postARideCtrl">
			<form name="postRideForm">
				<table cellspacing="15" class="postARideTableCls"
					style="margin: auto;">
					<tr>
						<td>Vehicle Type</td>
						<!-- <td><select ng-model="vType" required="required">
								<option ng-repeat="x in names">{{x}}</option>
						</select></td> -->
						<td><select name="vehicleSelect" id="vehicleSelect"
							ng-model="vehicleSelect" ng-init=" vehicleSelect = data[0].id"
							ng-options="option.id as option.name for option in data"
							ng-change="fnVehicleType()"></select></td>
					</tr>

					<tr>
						<td>Total No: of Seats</td>
						<td><span ng-switch="vehicleSelect" class="spanCls"
							style="position: relative; top: 11px;"> <span
								ng-switch-when="0"> <input type="number" name="input"
									ng-model="seat.value" min="0" max="0" class='vsCls'
									ng-readonly="true"><br> <br>
							</span> <span ng-switch-when="2"> <input type="number"
									name="input" ng-model="seat.value" min="1" max="1" value='1'
									class='vsCls' ng-readonly="true"><br> <br>
							</span> <span ng-switch-when="4"> <input type="number"
									name="input" ng-model="seat.value" min="1" max="4"
									class='vsCls' required><br> <br>
							</span>
						</span></td>
					</tr>

					<tr>
						<td>From Date</td>
						<td class='prTabTd'><input type="date" id="exampleInput"
							name="fromDate" ng-model="fromDate.value"
							min="{{fromDate.currentDate | date: 'yyyy-MM-dd'}}"
							placeholder="yyyy-MM-dd" required /> <span class="error"
							ng-show="!postRideForm.fromDate.$valid"> Not a valid date!</span></td>
					</tr>

					<tr>
						<td>To Date</td>
						<td class='prTabTd'><input type="date" id="exampleInput"
							name="toDate" ng-model="toDate.value"
							min="{{toDate.currentDate | date: 'yyyy-MM-dd'}}"
							placeholder="yyyy-MM-dd" required /> <span class="error"
							ng-show="!postRideForm.toDate.$valid"> Not a valid date!</span></td>
					</tr>

					<tr>
						<td>Start Time</td>
						<td class='prTabTd'><input type="time" id="exampleInput"
							name="startTime" ng-model="startTime.value"
							placeholder="HH:mm:ss" min="00:00:00" max="23:00:00" required />
						</td>
					</tr>

					<tr>
						<td>Return Time</td>
						<td class='prTabTd'><input type="time" id="exampleInput"
							name="endTime" ng-model="endTime.value" ng-bind="endTime"
							placeholder="HH:mm:ss" min="00:00:00" max="23:00:00" required />
						</td>
					</tr>

					<tr>
						<td></td>
						<td><button class="buttonPostARideAddButCls button4"
								ng-click="fnAddPostRide()">Add</button></td>
					</tr>
				</table>
			</form>
			<table class="grid">
				<tr>
					<th style="width: 30px;"><button
							class="btn btn-primary btn-xs" id="gridToggleButton"
							ng-click="showGridData()" style="width: 30px">+</button>
						<input type="checkbox" name="mainCheckBox"
						style="position: relative; left: 5px;" ng-model="checkedData" /></th>
					<th style="width: 100px;">Vehicle Type</th>
					<th style="width: 130px;">Total No: of Seats</th>
					<th style="width: 100px;">From Date</th>
					<th style="width: 100px;">To Date</th>
					<th style="width: 100px;">Start Time</th>
					<th style="width: 100px;">End Time</th>
					<th style="width: 100px;">Actions</th>
				</tr>
				<tbody ng-repeat="(key, value) in parentIdData">
					<tr ng-if="value.id == value.parentid">
						<td style="width: 30px"><button
								class="btn btn-primary btn-xs" id="gridButton{{key}}"
								ng-click="showData(key)" style="width: 30px">+</button>
							<input type="checkbox" style="position: relative; left: 5px;"
							ng-model="checkedData" /></td>
						<td>{{value.vehicleType}}</td>
						<td>{{value.totalNoOfSeats}}</td>
						<td>{{value.fromDate}}</td>
						<td>{{value.toDate}}</td>
						<td>{{value.startTime}}</td>
						<td>{{value.toTime}}</td>
						<td><img src="images/./view.png" style="left: -10px" title="view" ng-click="activate(checkedData)"/>
							<img src="images/./edit.png"
							style="width: 20px; height: 20px; left: -5px;" title="edit" ng-click="activate(checkedData)" /> <img
							src="images/./delete2.png" style="width: 20px; height: 20px;"
							title="delete" ng-click="activate(checkedData)" /></td>
					</tr>
					<tr ng-repeat="x in value.child" class="hideChild{{key}}"
						ng-show="show{{key}}">
						<td style="width: 40px"><input type="checkbox"
							style="position: relative; left: 21px;" ng-model="checkedData" /></td>
						<td>{{x.vehicleType}}</td>
						<td>{{x.totalNoOfSeats}}</td>
						<td>{{x.fromDate}}</td>
						<td>{{x.toDate}}</td>
						<td>{{x.startTime}}</td>
						<td>{{x.toTime}}</td>
						<td><img src="images/./view.png" style="left: -10px" title="view" ng-click="activate(checkedData)" />
							<img src="images/./edit.png"
							style="width: 20px; height: 20px; left: -5px;" title="edit" ng-click="activate(checkedData)" /> <img
							src="images/./delete2.png" style="width: 20px; height: 20px;"
							title="delete" ng-click="activate(checkedData)"/></td>
					</tr>
				</tbody>
			</table>



			<!--  latest code end -->
		</div>



		<!-- Post A Ride Design end  -->
	</div>

</body>
</html>