<link rel="stylesheet" href="css/./checkOrOpt.css">
<div classs = "container-fluid">
<div class = "col-md-2">
		<div id = "leftHandMenu">
			<div ng-include="'js/partials/leftSideMenu.html'"></div>
		</div>
		</div>
	
	 <div>
			<ul id="nav-tabs" ng-init='getMyOptedNotOptedRides()' >
			</ul>
   </div> 
	
	<div class = "col-md-8">
		<div align="center" style="color: #2535A9;">
			<h3>Opt A Ride</h3>
		</div>
		
		<div>
		<table cellpadding="5">
	<tr>
		<td><input type="radio" ng-model="showNotOptedOrOptedPool" name="optedornot" ng-checked=true ng-click="toggler1();radioChecked()" ng-value="false"/>Show Pools Not Opted by Me</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><input type="radio" ng-model="showNotOptedOrOptedPool"  name="optedornot" ng-checked=false ng-click="toggler2();radioChecked()" ng-value="true"/>Show Pools Opted by Me</td>
		<td><button class="btn btn-primary" style="border-radius: 150px;" ng-click="saveOptedRider()">OPT</button></td>
		<td><button class="btn btn-primary" style="border-radius: 150px;" ng-click="saveNotifiedRider()">Notify Me</button></td>
	</tr>
</table>
</div>


<div ng-show="opt1">
<table class="optRide" ng-show="!optedorNotOptedDataList.length == 0">
  <tr>
  	<th><input type="checkbox" ng-click="checkAll()" ></th>
    <th>Date</th>
    <th>Total Seats</th>
    <th>Opted Seats</th>
    <th>Status</th>
  </tr>
  <tr  ng-repeat = "notOptARide in optedorNotOptedDataList | orderBy : 'date'">
  	<td ><input type="checkbox" ng-model="notoptdatamodel" data-ng-click="optedARideFn(notOptARide)"/></td>
    <td>{{notOptARide.date| date: 'yyyy-MM-dd'}}</td>
    <td>{{notOptARide.totalSeats}}</td>
    <td>{{notOptARide.optedSeats}}</td>
    <td>{{notOptARide.status}}</td>
  </tr>
  </table>
</div>

<div ng-show="opt2">
<table class="optRide" ng-show="!optedorNotOptedDataList.length == 0">
  <tr>
    <th>Date</th>
    <th>Total Seats</th>
    <th>Opted Seats</th>
    <th>Status</th>
  </tr>
  <tr ng-repeat = "optARide in optedorNotOptedDataList| orderBy : 'date'">
    <td>{{optARide.date| date: 'yyyy-MM-dd'}}</td>
    <td>{{optARide.totalSeats}}</td>
    <td>{{optARide.optedSeats}}</td>
    <td>{{optARide.status}}</td>
  </tr>
  </table>
</div>


</div>
</div>
<!-- opt a ride validation model start -->
				<div class="modal fade" id="optARideFormModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="color: green;">Success</h4>
							</div>
							<div class="modal-body">
								<p id="alertMsg"></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-info"
									ng-click="cancelModelPopUp();">Ok</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>
				<!-- opt a ride validation model end -->


