<html>

<body ng-app="leftMenu">
<div class="container-fluid">
<div class="row">
   		 <div class="col-md-12">
					<!-- menu -->
					<div id="MainMenu">
						<div class="list-group panel">
						<a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">My Today's Ride</a>
						<a href="#/configurations" class="list-group-item list-group-item-success" data-parent="#MainMenu">Opt A Ride</a>
						<a href="#/driverSharedRides" class="list-group-item list-group-item-success" data-parent="#MainMenu">My Shared Rides</a>
						<a href="#/carpoolRegistration" class="list-group-item list-group-item-success" data-parent="#MainMenu">Share A Ride</a>
						<a href="#history" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" id = "historyMenu">History
								<i class="fa fa-caret-down"></i>
						</a>
						<div class="collapse" rel="history" id = "history">
								<a href="javascript:void(0);" class="list-group-item">Shared Rides</a>
								<a href="javascript:void(0);" class="list-group-item">My Rides</a>
						</div>
						<a href="#profile" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" id = "profileMenu">Profile
								<i class="fa fa-caret-down"></i>
						</a>
						<div class="collapse" id="profile">
								<a href="#/driver" class="list-group-item">Driver</a> 
								<a href="#/rider" class="list-group-item">Rider</a>
							</div>
							<a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Faqs</a>					
						</div>
					</div>
				</div>
				</div>
</div>
<script>
$(document).ready(function(){
	$('#historyMenu').click(function(event){
		event.preventDefault();
		var $target = event.target;
		var display = $target.nextElementSibling.style.display
		if(display == "block"){
			$target.nextElementSibling.style.display = "none";
		}else{
			$target.nextElementSibling.style.display = "block";
		}
	})
	
	$('#profileMenu').click(function(event){
		event.preventDefault();
		var $target = event.target;
		var display = $target.nextElementSibling.style.display
		if(display == "block"){
			$target.nextElementSibling.style.display = "none";
		}else{
			$target.nextElementSibling.style.display = "block";
		}
	})
})
</script>
</body>
</html>