<link rel="stylesheet" href="css/./carpool.css">
<div class="tab-pane active" id="1">
    <div align="center" style="color: #2535A9 ;">
        <h3>List of Opted Rides</h3>
    </div>
    
    <div align="center" ng-if="riderBookingList.length<=0">No Rides Found</div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <div >
         <input type="button" value="Cancel" style="float: right;" ng-if="riderBookingList.length>0" class="btn btn-primary">
                </div>
            <table class="grid" border="2x">
            
                <thead class="thead-inverse" align="center">
                    <tr ng-if="riderBookingList.length>0">
                        <th>Select</th>

                        <th>Date</th>
                        <th>Driver</th>
                        <th>Email</th>
                        <th>Mobile No</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Reason</th>

                    </tr>
                    <tr  ng-repeat="riderDetails in riderBookingList">
                        <td><input type='checkbox' ng-hide="riderDetails.statusName!='APPROVED' && riderDetails.statusName!='REQUESTED'" ng-model="selectedRiderDetails[$index]"></td>
                        <td>{{riderDetails.fromDate}}</td>
                        <td>{{riderDetails.userName}}</td>
                        <td>{{riderDetails.email}}</td>
                        <td>{{riderDetails.mobile}}</td>
                        <td>{{riderDetails.location}}</td>
                        <td>{{riderDetails.statusName}}</td>
                        
<!--                         <td data-ng-include='tempId'></td> -->
                         <td><select  ng-if="riderDetails.statusName=='APPROVED' || riderDetails.statusName=='REQUESTED'" 
                                 ng-disabled="!selectedRiderDetails[$index]" ng-class="{'txtdisabled': !selectedRiderDetails[$index]}">
                              <option value="0">Select</option>                            
                      <option ng-repeat="(key,value) in reasons">{{value}}</option>
                      </select>
                       <span ng-if="riderDetails.statusName!='APPROVED' && riderDetails.statusName!='REQUESTED'" ng-model="reasons[riderDetails.reason]" ng-bind="reasons[riderDetails.reason]"> </span>
                        </td> 
                    </tr>

                </thead>
                
            </table>
            
            
        </div>