<div>
<div class = "col-md-2">
		<div id = "leftHandMenu">
			<div ng-include="'js/partials/leftSideMenu.html'"></div>
		</div>
	</div>
	<div class = "col-md-8">

		<div align="center" style="color: #2535A9;">
			<h3>My Shared Rides</h3>
		</div>

<div>
		<div>
			<ul id="nav-tabs" ng-init='getMyRides()'>
			</ul>
		</div>
		
		<div ng-if="myRidesList.length>0" ng-repeat="myRide in myRidesList" class="poolList">

			<table class="tStyle" frame="box" data-ng-style="{'background-color': carpool.status=='completed' ? 'red' : 'green'}">
				<tr>
					<td>PoolStatus: {{myRide.statusName}}</td>
					<td>Location: {{myRide.location}}</td>
				</tr>
				<tr>
					<td>FromDate: {{myRide.fromDate | dateFilter}}</td>
					<td>ToDate: {{myRide.toDate | dateFilter}}</td>
				</tr>
				<tr>
					<td><a ui-sref="dayWiseReport({parentid: myRide.parentid})" data-ui-sref-opts="{reload:true}" data-toggle="modal" data-target="truckModal">
					      <button class = "button" name="Details">Details</button></a>
					</td>
					<td><button class = "button" name="Cancel" ng-click="cancelRide(myRide)">Cancel</button></td>
				</tr>
			</table>

		</div>
	</div>

	 <div align="center" ng-if="myRidesList.length<=0">No Rides Found</div>
</div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Are you sure. Do you want to cancel the ride?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="custombtn btn-normal"
					ng-click="cancelRide();">Ok</button>
				<button type="button" class="custombtn btn-cancel"
					data-dismiss="modal">cancel</button>
			</div>
		</div>

	</div>
</div>

