<!-- rider registration tab code starts -->
	<style>
		vehicleGridCls {
	font-family: arial, sans-serif !important;
	border-collapse: collapse !important;
	width: 100% !important;
}

.error {
	color: red !important;
}

div.solid { //
	outline-style: solid !important;
}

.postRideCls {
	text-align: center;
	border: 3px solid #3498db;
}

table, td {
	/* border: 1px solid grey;
  border-collapse: collapse; */
	padding: 5px;
}

.vehicleGrid {
	text-align: -webkit-center !important;
}

.prTableReg {
	width: 60% !important;
}

.vsCls {
	width: 100px !important;
}

.prTabTh {
	padding-left: 200px !important;
}

.prTabThAddBCls {
	padding-left: 270px !important;
}

.buttonPostARideAddButCls {
	background-color: #3498db; /* blue */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

/* driver and rider css @author: Dhiraj singh*/
.registerAsDriverBtn {
	background-color: #3498db; /* blue */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

.registerAsDriverBtn[disabled] {
	background-color: #b2b2b2
}

.updateAsDriverBtn {
	background-color: #3498db; /* blue */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

.updateAsDriverBtn[disabled] {
	background-color: #b2b2b2
}

.button4 {
	border-radius: 12px;
}

.vGridCls {
	border: 1px solid grey;
	border-collapse: collapse;
}

vehicleGridCls {
	font-family: arial, sans-serif !important;
	border-collapse: collapse !important;
	width: 100% !important;
}

.error {
	color: red !important;
}

div.solid { //
	outline-style: solid !important;
}

.postRideCls {
	text-align: center;
	border: 3px solid #3498db;
}

table, td {
	/* border: 1px solid grey;

  border-collapse: collapse; */
	padding: 5px;
}

.vehicleGrid {
	text-align: -webkit-center !important;
}

.prTableReg {
	width: 60% !important;
}

.vsCls {
	width: 200px !important;
}

.prTabTh {
	padding-left: 200px !important;
}

.prTabThAddBCls {
	padding-left: 270px !important;
}

.buttonPostARideAddButCls {
	background-color: #3498db; /* blue */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

/* driver and rider css @author: Dhiraj singh*/
.registerAsDriverBtn {
	background-color: #3498db; /* blue */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

.registerAsDriverBtn[disabled] {
	background-color: #b2b2b2
}

.updateAsDriverBtn {
	background-color: #3498db; /* blue */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

.updateAsDriverBtn[disabled] {
	background-color: #b2b2b2
}

.button4 {
	border-radius: 12px;
}

.vGridCls {
	border: 1px solid grey;
	border-collapse: collapse;
}

/* .vehicleGridCls {

font-family: arial, sans-serif !important;

border-collapse: collapse !important;

width: 100% !important;

}

 */
.vehicleGridCls {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	top: 50px;
	position: relative;
}

.vehicleGridCls td, .vehicleGridCls th {
	border: 1px solid #ddd;
	padding: 8px;
}

.vehicleGridCls tr:nth-child(even) {
	background-color: #f2f2f2;
}

.vehicleGridCls tr:hover {
	background-color: #ddd;
}

.vehicleGridCls th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: LightGray;
	color: SteelBlue;
}

.postARideTableCls {
	border-collapse: separate !important;
	border-spacing: 0 1em !important;
}

.postARideTableCls td:nth-child(2) {
	padding-left: 80px;
}

.postARideTableCls td:nth-child(1) {
	font-family: verdana;
}

.postARideTableCls input, select {
	width: 200px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid black !important;
}

.postARideTableCls button {
	background-color: rgba(0, 178, 226, .6) !important;
	border: none;
	border-radius: 5px;
	color: white;
	width: 85px;
	height: 55px;
	text-align: center;
	font-size: 16px;
	font-family: verdana
}

.postARideTableCls div {
	margin: auto;
	width: 500px;
	height: 300px;
}

.grid {
	font-family: verdana;
	border-collapse: collapse;
	width: 100%;
	position: relative;
	margin: 5px;
}

.grid td, .grid th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.grid th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: SteelBlue;
	color: white;
}

.grid img {
	width: 25px;
	height: 25px;
}

.grid img:hover, button:hover {
	opacity: 0.6;
}

.grid button {
	position: relative;
	margin-right: 5px;
}

.grid tr:hover {
	background-color: LightGrey;
	color: SteelBlue;
}
		form{
			padding-top:5%;
		}
		
		.form-container .rider-element{
			padding-bottom: 10px;
		}
	</style>
	<div class = "container-fluid">
		<div id='passengerDiv' class = "row">
			<div class = "col-md-2">
				<div id = "leftHandMenu">
					<div ng-include="'js/partials/leftSideMenu.html'"></div>
				</div>
			</div>
			<div class="col-md-8">
			<form action="riderForm" class="riderClass">
				<div class = "form-container">
					<div class = "row rider-element">
						<div class = "col-md-2">
							<label>Location</label>
						</div>
						<div class = "col-md-4">
							<input type="text" name="riderLocation"
							gm-places-autocomplete ng-model="riderAutocomplete"
							placeholder="Enter location here" required=""> 
							<div ng-show="riderForm.$submitted || riderForm.riderLocation.$touched">
								<span ng-show=" riderForm.riderLocation.$error.required"
								style="color: red">Tell us your location.</span>
							</div>
						</div>
					</div>
					<div class = "row rider-element">
						<div class = "col-md-2">
							<label>NearBy(pickup)</label>
						</div>
						<div class = "col-md-4">
							<input type="text" name="riderNearBy" ng-model="riderNearBy" required="">
								<div ng-show="riderForm.$submitted || riderForm.riderNearBy.$touched">
									<span ng-show="riderForm.riderNearBy.$error.required"
									style="color: red">Tell us your pickup point.</span>
								</div>
						</div>
					</div>
					<div class = "row rider-element">
						<div class = "col-md-4 col-md-offset-2">
							<input type="checkbox" ng-model="notifyEmail"
							ng-true-value="true" ng-false-value="false" style = "margin-right:10px;"/>Notify me via email<br />
							<div ng-show="riderForm.$submitted && riderForm.$invalid"
							style="color: red" class="help-block">check before proceed.</div>
						</div>
					</div>
					<div class = "row rider-element">
						<div class = "col-md-4 col-md-offset-2">	
							<button class="registerAsDriverBtn btn btn-primary" ng-click="registerAsRider()">Register</button>
							<button class="updateAsDriverBtn btn btn-primary" ng-click="updateAsRider()">Update</button>
						</div>
					</div>

				</div>
			</form>
			</div>
		</div>
	</div>
		<!-- rider registration tab code ends -->